// Variabelen
$backgr-kleur: rgb(251, 251, 251);
$prim-kleur: rgb(255, 139, 0);
$sec-kleur: rgb(47, 45, 43);
$small: 0.65rem;
$medium: 1.25rem;
$big: 1.75rem;
$subtle-box-shadow: 0px 5px 15px 3px rgba(0, 0, 0, 0.1);
$scale-small: scale(1.02);
$scale-big: scale(1.05);
$bp-mobile: 375px;

// Reset default styling
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Generieke styling
h1 {
  font-size: 2em;
  margin: $big 0;
  letter-spacing: -0.035em;
}

p {
  line-height: 1.4em;
}

a {
  color: $prim-kleur;
  text-decoration: none;
}

li {
  list-style-type: none;
}

// Mobiel venster voor op desktop
html {
  min-height: 100vh;
  display: grid;
  place-items: center;
  overflow: hidden;
}

body {
  font-family: "Karla", sans-serif;
  background-color: $backgr-kleur;
  color: $sec-kleur;
  width: $bp-mobile;
  height: 667px;
  box-shadow: $subtle-box-shadow;
  border-radius: $medium;
  padding: $big;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
}

// Header & navigatie
header {
  margin-bottom: $medium;

  ul {
    display: flex;
    justify-content: space-between;

    a {
      img {
        filter: grayscale(100%);
        width: 2rem;
        transition: transform 0.3s;
      }

      &:hover img {
        transform: $scale-big;
      }

      &.active img {
        filter: none;
      }
    }
  }

  .nav-back {
    position: absolute;
    top: $big;
    left: $big;
    z-index: 1;

    img {
      width: 2.5rem;
      filter: grayscale(99%);
      background-color: $backgr-kleur;
      box-shadow: $subtle-box-shadow;
      border-radius: 50%;
      padding: $small;
    }
  }
}

// Mensen ontdekken secties
.persoon-container {
  position: relative;
  &::before,
  &::after {
    content: "";
    height: 22rem;
    width: 100%;
    border-radius: $medium;
    box-shadow: $subtle-box-shadow;
    position: absolute;
    top: 0;
    pointer-events: none;
    background-color: white;
  }

  &::before {
    transform: scale(0.9) translate(0, 2rem);
    z-index: -1;
    opacity: 0.7;
  }

  &::after {
    transform: scale(0.8) translate(0, 4.5rem);
    z-index: -2;
    opacity: 0.4;
  }

  .persoon {
    height: 22rem;
    border-radius: $medium;
    background-color: white;
    box-shadow: $subtle-box-shadow;
    cursor: pointer;
    transition: transform 0.3s;
    color: $sec-kleur;
    overflow: hidden;
    display: block;
    user-select: none;
    -webkit-user-drag: none;

    &.animated {
      transition: 0.1s;
    }

    img {
      height: 17rem;
      width: 100%;
      object-fit: cover;
      object-position: center center;
      pointer-events: none;
    }

    article {
      padding: $small $medium;

      h2 {
        padding-bottom: 0.1rem;
      }

      p {
        opacity: 0.6;
      }
    }
  }

  .like-skip-feedback {
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: 0.3s;
    pointer-events: none;

    &.visible {
      opacity: 0.75;
    }
  }
}

// Detail pagina
.persoon-details {
  img {
    min-width: calc(100% + 1.75rem * 2);
    transform: translate(-1.75rem, -3rem);
    height: 35.25rem;
  }

  article {
    transform: translateY(-3rem);
    padding-top: $medium;

    h1 {
      margin-bottom: $small;
    }
  }
}

// Matches pagina
.match-sectie {
  display: flex;
  border-radius: $small;
  box-shadow: $subtle-box-shadow;
  padding: $medium;
  margin-bottom: $small;
  cursor: pointer;
  transition: transform 0.3s;

  .profiel-afbeelding-cirkel {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }

  article {
    padding-left: $small;

    .match-bericht {
      opacity: 0.6;
      font-style: italic;
      font-size: 0.9rem;
    }
  }

  &:hover {
    transform: $scale-small;
  }
}

// Like & skip formulier
.like-form {
  width: calc(100% - 1.75rem * 2);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: $big;

  button {
    margin: $medium;
    border-radius: 50%;
    border: none;
    background-color: $backgr-kleur;
    box-shadow: $subtle-box-shadow;
    padding: $medium;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-indent: -10rem;
    overflow: hidden;

    img {
      width: 2rem;
      transition: transform 0.3s;
    }

    &:hover img {
      transform: $scale-big;
    }
  }

  &.detail-form {
    bottom: 3rem;
  }

  .redo-btn {
    img {
      width: $medium;
    }
  }
}

.reset-form {
  display: grid;
  place-items: center;
  height: 10rem;

  .reset-btn {
    margin: $medium;
    border-radius: 50%;
    border: none;
    background-color: $backgr-kleur;
    box-shadow: $subtle-box-shadow;
    padding: $medium;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-indent: -10rem;
    overflow: hidden;

    img {
      width: $medium;
      transition: transform 0.3s;
    }

    &:hover img {
      transform: $scale-big;
    }
  }
}

@media screen and (max-width: $bp-mobile) {
  body {
    border-radius: 0;
  }
}
