<header>
    <nav>
        <ul>
            <li class="nav-account"><a href="./account"><img src="./images/account.svg" alt="profiel"></a></li>
            <li class="nav-explore"><a href="./explore"><img src="./images/explore.svg" alt="mensen ontdekken "></a></li>
            <li class="nav-matches"><a href="./matches"><img src="./images/matches.svg" alt="matches"></a></li>
        </ul>
    </nav>
</header>