<header>
    <nav>
        <ul>
            <li><a href="/account"><img src="/images/account.svg" alt="profiel"></a></li>
            <li><a href="/explore"><img src="/images/explore.svg" alt="mensen ontdekken "></a></li>
            <li><a href="/matches"><img src="/images/matches.svg" alt="matches"></a></li>
        </ul>
    </nav>
</header>
