<!DOCTYPE html>
<html lang="nl">
<%- include('./includes/head.ejs') %>

<body>
    <%- include('./includes/header.ejs') %>
<main>
    <h1>Account</h1>
</main>
<script src="./js/script.js"></script>
</body>

</html>