<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> | Matching app</title>
</head>
<body>
    <% if (personen.length > 0) { %>
        <% personen.forEach(personen => { %>
            <h2 class='personen-naam'><%= personen.naam %></h2>
            <p class='personen-bio'><%= personen.bio %></p>
       <% }) %>
    <% } %>
</body>
</html>