<!DOCTYPE html>
<html lang="en">
<%- include('./includes/head.ejs') %>
<body>
    <% if (personen.length > 0) { %>
        <% personen.forEach(personen => { %>
            <h2 class='personen-naam'><%= personen.naam %></h2>
            <p class='personen-bio'><%= personen.bio %></p>
       <% }) %>
    <% } %>
</body>
</html>